<% provide(:title, "Help")%>

<h1>Help Page</h1>
<p>
  This is my sample app so far.  It's pretty basic.
  I like looking at this subreddit: <a href="https://www.reddit.com/r/minipainting" target="_blank">r/paintedminis</a>
</p>
