<div class="center jumbotron">
  <h1>USAC | Phoenix Web App</h1>

  <h2>
    This is the home page for the USAC | Phoenix Curing System web app.<br>
  </h2>
  
    USAC is the creator of a cutting-edge and completely automated curing process.<br>
    Visit us at <a href="https://www.usautocure.com/">usautocure.com</a> for more information.<br><br>

  <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %><br><br>
  <%= image_tag  "Phoenix Logo.png", class: "img-responsive"%>
</div>


