<% provide(:title, "Log In")%>
<h1>Login</h1>
<div class="form-group">
<%= form_tag sessions_path do |form| %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, "", class: 'form-control'%>
  </div>
  </br>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: 'form-control' %>
  </div>
  <div class="actions btn">
    <%= submit_tag "Login", class: "btn" %>
  </div>
<% end %>
</div>
<p id="alert"><%= alert %></p>
