<head>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script>
  $( function() {
    $( "#fromDate" ).datepicker({
      endDate: "today",
      todayHighlight: true
    });
    $( "#toDate" ).datepicker({
      endDate: "today",
      todayHighlight: true
    });
  } );
  </script>
</head>

<% provide(:title, "Data View")%>
<input type="button" class="btn" value="Back to Machine List" onclick="window.location.href = '/machinelist';" /> 
<h1>Machine:&nbsp<%= @dataviewname %></h1>

<div id="card_holder" class="" style="width: 100%; height: 20rem;">

  <div class="panel panel-primary" style="width: 18rem; float: left; box-shadow: 0 3px 6px rgba(0,0,0,.25);">
    <div class="panel-heading">
      <h3 class="panel-title center-block" id="job_count" style="height: 12rem; font-size: 12rem; text-align: center;">#</h3>
    </div>
    <div class="panel-body" style="text-align: center; font-size: 1.25em;">
      <b>Jobs Ran</b>
    </div>
  </div>

  <div style="width: 20px; height: 20rem; float: left;"></div>

  <div class="panel panel-primary" style="width: 18rem; float: left; box-shadow: 0 3px 6px rgba(0,0,0,.25);">
    <div class="panel-heading">
      <h3 class="panel-title center-block align-middle" id="job_count" style="line-height: 2.1em; height: 12rem; font-size: 4em; text-align: center;"><%= totalTime() %></h3>
    </div>
    <div class="panel-body" style="text-align: center; font-size: 1.25em;">
      <b>Total Time</b>
    </div>
  </div>

</div>
<br><br>
<div class="center"> 
  <%= form_tag("/dataview", method: "get") do %>
    <%= label_tag(:date, "From: ") %>
    <%= text_field_tag(:fromDate, @ufromdate, autocomplete: :off) %>
      <%= label_tag(:date, "To: ") %>
    <%= text_field_tag(:toDate, @utodate, autocomplete: :off) %>
    <%= hidden_field_tag(:ewonid, params[:ewonid])%>
    <%= hidden_field_tag(:name, params[:name])%>
    <%= submit_tag("Select", :class=>"btn") %>
  <% end %>

</div>
</br>

</br>
<div class="inline">
  <input type="button" class="btn btn-primary" value="Update" onClick="document.location.reload(true)">
  <button class="btn btn-success pull-right" onclick="exportTableToCSV('report.csv')">Export Report</button>
</div>


<table class="table table-striped" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th>Time Stamp</th>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Cure Base Time</th>
      <th>Cure Clear Time</th>
      <!--<th>Customer ID</th>-->
      <th>Temp Avg</th>
      <th>Temp Avg 1</th>
      <th>Temp Avg 2</th>
      <th>Temp Avg 3</th>
      <th>Temp Avg 4</th>
      <th>Temp Avg 5</th>
      <th>Temp Avg 6</th>
      <th>Temp Avg 7</th>
      <th>Temp Avg 8</th>
      <th>Temp Ambient</th>
      <th>Hum Ambient</th>
    </tr>
  </thead>
  <tbody>
      <% @dataview_tags.each do |item| %>
        <tr>
          <td><%= item[2] %></td>
          <td><%= item[3].to_s.slice(6..7)+":"+item[3].to_s.slice(8..9) %></td>
          <td><%= item[4].to_s.slice(6..7)+":"+item[4].to_s.slice(8..9) %></td>
          <td><%= item[5] %></td>
          <td><%= item[6] %></td>
          <!--<td><%= item[7] %></td>-->
          <td><%= item[8] %></td>
          <td><%= item[9] %></td>
          <td><%= item[10] %></td>
          <td><%= item[11] %></td>
          <td><%= item[12] %></td>
          <td><%= item[13] %></td>
          <td><%= item[14] %></td>
          <td><%= item[15] %></td>
          <td><%= item[16] %></td>
          <td><%= item[17] %></td>
          <td><%= item[18] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



    	<script>
function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}

function exportTableToCSV(filename) {
    var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

    $(document).ready(function() {
        var x = document.getElementById("myTable").rows.length;
        var job_count = document.getElementById("job_count");
        job_count.innerHTML = x-1;
    });
</script>



