<% provide(:title, "Data Test")%>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

<h1>Data Test Area</h1>
</br>

  </br>
<h2 class="text-left">Test zone for API requests</h2>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dataStorm">Show Raw Data</button>
<div id="dataStorm" class="collapse">
  <%= @ewon_data %>
  </br></br>
  <%= @dtags %>
</div>