<% provide(:title, "Machine List")%>

<h1>Machine List</h1>
<h2>Click on a machine listed below to view</h2>
<div id="card_holder" class="" style="width: 100%; height: 20rem;">

  <div class="panel panel-primary" style="width: 18rem; float: left; box-shadow: 0 3px 6px rgba(0,0,0,.25);">
    <div class="panel-heading">
      <h3 class="panel-title center-block" style="height: 12rem; font-size: 12rem; text-align: center;"><%= @machineListJobs %></h3>
    </div>
    <div class="panel-body" style="text-align: center; font-size: 1.25em;">
      <b>Jobs Ran Today</b>
    </div>
  </div>
    
  <div style="width: 20px; height: 20rem; float: left;"></div>

  <div class="panel panel-primary" style="width: 18rem; float: left; box-shadow: 0 3px 6px rgba(0,0,0,.25);">
    <div class="panel-heading">
      <h3 class="panel-title center-block align-middle" style="line-height: 2.1em; height: 12rem; font-size: 4em; text-align: center;"><%= @machineListTotalTime %></h3>
    </div>
    <div class="panel-body" style="text-align: center; font-size: 1.25em;">
      <b>Total Time Today</b>
    </div>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @mlist.each do |item| %>
      <tr>
        <td><%= link_to item.name, dataview_path(:ewonid => item.ewonid, :name => item.name) %></td>
        <td><%= item.ewonid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<!--
<div class="btn btn-primary">
  <%= link_to 'Email Test', emailsent_path %>
</div>

  <%=
  link_to 'Download as Excel',
  dailyreport_path(format: :xlsx)
  %>
-->




