<footer class="footer">
  <small>
    The <a href="https://www.usautocure.com/">USAC | Phoenix Web App</a>
    by <a href="http://www.msitec.com/">MSI Tec</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>